#Cyd .contenedor{
    width: 98%;
    height:50% ;
    border:3px solid #000;
    text-align: center;
    margin:auto;
    margin-top: 50px;

}


input, textarea {

	color: #000;
	background-color: 	#4077C9;
	border: none;
	border-radius: 10px;
	display: block;
	margin:auto;
	padding: px;    
	text-align: center;
	
}
textarea{
    width:80%;
   
}