#encabezado
{
    text-align: center;
}
#definicion{
    margin: 35px;
}
.instruciones{
    margin: 35px;
}
#textocif{
    margin-left: 300px;
    margin-top: 50px;
}
#textodecif{
    margin-left: 30px;
    margin-top: 50px;
}

#BC{
    margin-left: 300px;

}

#posiciondedescifrado{
    margin-left: 40px;

}
#resultadocifrar{
    margin-left: 500px;

}
#resultadodescifrar{
    margin-left: 30px;

}