#encabezado
{
    text-align: center;
}
#definicion{
    margin: 35px;
}
.instruciones{
    margin: 35px;
}
#cuadrosdetexto{
    text-align: center;

}
body {
    width: 1000px;
    margin: 0 auto;
  }
  